<html>

<head>
  <title>Error: {{ERROR}}</title>
  <link href="/resources/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Bottle/Materialize Template</a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text">Error - {{ERROR}}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{MESSAGE}}</h5>
      </div>
    </div>
  </div>

</body>

</html>
