<html>
<head>
  <title>Bottle/Materialize Template</title>
  <!-- Styles and fonts -->
  <link href="/resources/material-icons.css" rel="stylesheet">
  <link href="/resources/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Bottle/Materialize Template</a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Bottle + Materialize Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">This is a basic template using Python Bottle and Materialize.</h5>
        <p>This contains
          the python bottle.py file as well as the Materialize css and js files and Material Google Fonts.
          This is fully self contained and can be used in a fully offline environment.
        </p>
        <p>Here is a fresh GUID for you:<br/><tt>{{GUID}}</tt></p>
      </div>
      <br />
      <div class="card-panel  blue lighten-4">
        <h3 class="header blue-text">Credits</h3>
        <div class="">
          <p>
            Materialize 1.0.0 - <a href="https://materializecss.com/">https://materializecss.com/</a><br/>
            License: MIT<br/>
            Copyright (c) 2014-2018 Materialize<br/>
        </p>
            Material Design Icons 3.0.1 - <a href="https://github.com/google/material-design-icons/">https://github.com/google/material-design-icons/</a><br/>
            License: Apache License Version 2.0<br/>
            Copyright (c) 2016 Google<br/>
        <p>
            Bottle 0.12.17 - <a href="https://bottlepy.org/">https://bottlepy.org/</a><br/>
            License: MIT<br/>
            Copyright (c) 2016, Marcel Hellkamp.<br/>
        </p>
        </div>
      </div>

    </div>
  </div>
  <!--  Scripts-->
  <script src="/resources/materialize.min.js"></script>
</body>
</html>
